{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-prettier-scss"
  ],
  "plugins": ["stylelint-prettier"],
  "rules": {
    "custom-media-pattern": null,
    "custom-property-pattern": [
      null,
      {
        "severity": "warning"
      }
    ],
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": ["border-left-radius"]
      }
    ],
    "selector-class-pattern": [
      "^_?[$]?[a-z][a-z0-9]*([A-Z][a-z0-9]*)*(_{1,2}[$]?[a-z0-9]+([A-Z][a-z0-9]*)*)*$",
      {
        "severity": "warning",
        "resolveNestedSelectors": true
      }
    ],
    "scss/at-import-partial-extension": null,
    "scss/at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": "util"
      }
    ],
    "scss/dollar-variable-empty-line-before": null,
    "scss/no-global-function-names": null
  },
  "maxWarnings": 10,
  "reportDescriptionlessDisables": null,
  "reportInvalidScopeDisables": true,
  "reportNeedlessDisables": true
}
