include ../../layouts/baseLayout/tmpl
include ../../components/carousel/tmpl
include ../../components/button/tmpl
+baseLayout('main')
  .main
    p.main__desc &mdash;&nbsp;это игра-кликер, где клик мышью - единственная игровая механика для достижения цели в игре. У Star Clicker простые правила (для перемещения между слайдами можете использовать стрелки вперед/назад):
    +carousel([
      {
        title: 'Кликаем по звездам',
        desc: 'В процессе игре на поле игровом поле хаотично появляются звезды, по которым вам нужно кликать',
        image: {
          src: '../../assets/images/slide1.jpeg',
        }
      },
      {
        title: 'Зарабатываем очки',
        desc: 'Клик по звезде дает очки! В процессе игры количество получаем очков увеличивается, но увеличивается и количество звезд, кроме того они становятся более неуловимы.',
        image: {
          src: '../../assets/images/slide2.jpeg',
        }
      },
      {
        title: 'Ничего не упускаем',
        desc: 'Звезды &laquo;живут&raquo; на игровом поле некоторое время, и те, по которыми вы не успели кликнуть &ndash; исчезают, а исчезнув отнимают очки. Так что будьте проворны!',
        image: {
          src: '../../assets/images/slide3.jpeg',
        }
      }
    ], ['main__carousel'])
    +button('Играть!', ['button_width_200', 'main__button'])
