include ../../layouts/baseLayout/index
include ../../components/carousel/tmpl
+baseLayout('main')
  +carousel([
    {
      title: 'Про игру в целом',
      desc: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet provident impedit accusantium esse ex dignissimos tempore voluptatibus optio animi inventore quo minus, officiis omnis nesciunt sed. Inventore magni maxime aut?',
      image: {
        src: 'https://images.unsplash.com/photo-1677247191557-4abd28b7c387?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80',
      }
    },
    {
      title: 'Про хорошие монетки',
      desc: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet provident impedit accusantium esse ex dignissimos tempore voluptatibus optio animi inventore quo minus, officiis omnis nesciunt sed. Inventore magni maxime aut?',
      image: {
        src: 'https://images.unsplash.com/photo-1672243775941-10d763d9adef?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80',
      }
    },
    {
      title: 'Про плохие монетки',
      desc: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet provident impedit accusantium esse ex dignissimos tempore voluptatibus optio animi inventore quo minus, officiis omnis nesciunt sed. Inventore magni maxime aut?',
      image: {
        src: 'https://images.unsplash.com/photo-1677241817906-a84211b4f627?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80',
      }
    }
  ])
