@import "../../css/vars.scss";
@import "../../css/mixins.scss";
@import "../../css/global.scss";
@import "../../layouts/baseLayout/baseLayout.scss";
@import "../../components/carousel/styles.scss";
@import "../../components/button/styles.scss";

.main {
  &__desc {
    text-indent: 1em;
    text-align: center;
    line-height: 1.5;
    max-width: 760px;
    margin: * auto;
  }

  &__carousel {
    max-width: 760px;
    margin: * auto 1.5em;
    padding: 0;
  }

  &__button {
    display: block;
    margin: * auto;
  }
}
