mixin tabs(items = [])
  .tabs
    .tabs__nav
      each item in items
        - const { label } = item;
        span.tabs__tab
          span.tabs__tabTitle= label
    .tabs__content
      each item in items
        - const { content } = item;
        != content
