include ../../layouts/baseLayout/tmpl
include ../../components/accordion/tmpl
include ../../components/button/tmpl
- 
  const { render, utils: { pathResolve }} = locals;
  const filename = pathResolve('pages/stats/index');
+baseLayout('stats')
  .stats
    +accordion([
      {
        label: 'AnotherUser / 50 / 03:00',
        content: render(`
include ../../components/table/tmpl      
+table(
  { 
    'datetime': 'Игра',
    'time': 'Время',
    'score': 'Очки',
    'clicks': 'Клики',
  }, 
  [
    { 
      'datetime': '3 сентября 2023',
      'time': 0,
      'score': 56,
      'clicks': 100
    }, 
    { 
      'datetime': '3 сентября 2022',
      'time': 0,
      'score': 56,
      'clicks': 100
    }
  ]
)`, { filename })
      },
      {
        label: 'SomeUser / 100 / 02:30',
        content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, odio mollitia? Doloremque architecto officiis doloribus esse libero, iure, dolores animi tenetur quibusdam nesciunt, assumenda illum aliquid incidunt quaerat deleniti vitae.'
      },
    ], ['stats__accordion'])
    +button('Очистить [Del]', ['button_width_200', 'stats__clearBtn'])
