include ../../../../components/formField/tmpl
include ../../../../components/textInput/tmpl
include ../../../../components/button/tmpl
.gameGreeting__addUser
  +formField('', null)
    +textInput('Введите имя пользователя', ['gameGreeting__addUserInput'])
  +button('Создать', ['gameGreeting__addUserBtn'])
