include ../../../../components/tabs/tmpl
include ../../../../components/button/tmpl
.gameGreeting
  h1.page__title.gameGreeting__welcome Добро пожаловать в игру
    span.gameGreeting__welcomeUser
    span !
  +button('Начать игру [Enter]', ['button_width_250', 'gameGreeting__startBtn'])
  .gameGreeting__defineUser  
    - 
      const { renderTmpl } = locals;
      const addUser = renderTmpl('app/game/components/greeting/addUser.pug');
      const chooseUser = renderTmpl('app/game/components/greeting/chooseUser.pug');
    +tabs([
      {
        label: "Создать нового игрока",
        content: addUser
      },
      {
        label: "Выбрать другого игрока",
        content: chooseUser
      }
    ], ['tabs_centered'])
