include ../../../../components/button/tmpl
.gamePlayground
  .gamePlayground__wrapper
    canvas.gamePlayground__canvas
    .gamePlayground__indicator.gamePlayground__indicator_time 
      i.fa-solid.fa-hourglass-half.fa-lg.gamePlayground__indicatorIcon
      span.gamePlayground__indicatorValue 00:00      
    .gamePlayground__indicator.gamePlayground__indicator_score
      i.fa-solid.fa-star.fa-lg.gamePlayground__indicatorIcon
      span.gamePlayground__indicatorValue 0
  +button('Завершить игру [Esc]', ['button_width_250', 'gamePlayground__finishBtn'])
