.carousel {
  width: 100%;
  box-sizing: border-box;
  padding: * 2em;
  text-align: center;

  @include box-stack(0.5em, center);

  &__container {
    width: 100%;

    @include box-aligning(0.5em);
  }

  &__navBtn {
    color: var(--text-primary-color);
    opacity: 0.5;
    text-decoration: none;

    @include text-interactive;

    &:hover {
      opacity: 1;
    }

    &_inactive {
      visibility: hidden;
    }
  }

  &__navBtnLabel {
    @util hide-visually;
  }

  &__slidesContainer {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: clip *;
  }

  &__slide {
    min-width: 100%;

    @include box-stack(0, center);

    &:first-child {
      transition: margin 1s;
    }
  }

  &__slideImg {
    width: 100%;
    overflow: hidden;

    &_square {
      aspect-ratio: 1 / 1;
    }
  }

  &__slideTitle {
    margin: 0 * 1em;
  }

  &__slideDesc {
    line-height: 1.3;
    margin: 0;
  }

  &__img {
    @include img-cover;
  }

  &__nav {
    display: none;
  }

  &__pager {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  &__page {
    color: var(--text-primary-color);
    font-weight: bold;
    text-decoration: none;

    @include text-interactive;

    .fa-solid {
      display: none;
    }

    &_active {
      .fa-solid {
        display: initial;
      }

      .fa-regular {
        display: none;
      }
    }
  }

  &__pageLabel {
    @util hide-visually;
  }
}
