include ../../layouts/baseLayout/index
include ../../components/tabs/index
+baseLayout('game')
  +tabs([
    {
      label: "Новый игрок",
      content: "!!!"
    },
    {
      label: "Выбрать игрока",
      content: "!!!"
    }
  ])
