.accordion {
  @include font-def;

  &_compact {
    font-size: 9px;

    @media (--layout-mf-sm) {
      font-size: 11px;
    }
    @media (--layout-mf-md) {
      font-size: 12px;
    }
    @media (--layout-mf-xl) {
      font-size: 13px;
    }
  }

  &_fullWidth {
    width: 100%;
  }

  &__item {
    border: 1px solid var(--content-border-color, $grey-3);
    background: var(--content-bg-color, white);
    border-radius: .5em;
  
    &:not(:last-child) {
      margin-bottom: .5em;
    }
  }

  &__itemSummary {
    list-style: none;
    padding: 1.5em 2em;
    color: var(--text-contrast-color, $black);
  
    @include text-interactive;

    &::marker {
      display: none;
    }

    &::before {
      content: '\1433';
      display: inline-block;
      float: right;
      margin-top: -4px;
      transform: rotate(90deg) scale(0.6, 1);
      font-size: 24px;
    }
  }

  &__item[open] &__itemSummary {
    padding-bottom: 1em;

    &::before {
      transform: rotate(-90deg) scale(0.6, 1);
    }
  }

  &__itemDetails {
    margin: 0;
    padding: 0 2em 2em;
    color: var(--text-regular-color, $grey-4);
  }
}
