mixin accordion(items = [], cls =[], numActive = 0)
  div(class=['accordion', ...cls])
    each item, num in items 
      - const { label, content } = item;
      div(class=['accordion__item', {'accordion__item_open': num === numActive}])
        .accordion__itemSummary= label
        .accordion__itemDetails
          .accordion__itemDetailsWrapper!= content 
